body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
} 

.input-area{
    display: flex;
    justify-content: center;
    background-color: bisque;
}
 
.text {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}


.editDiv{
    display: none;

}